# dlt Convention: SOURCES__SOURCE__<SOURCE_NAME>__<FIELD_NAME>
SOURCES__SOURCE__FREECURRENCY__API_KEY=your_api_key_here

# MinIO
MINIO_ACCESS_KEY=minio_user
MINIO_SECRET_KEY=minio_password
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_BUCKET_URL=s3://currency-raw
