# dlt Convention: SOURCES__SOURCE__<SOURCE_NAME>__<FIELD_NAME>
SOURCES__SOURCE__FREECURRENCY__API_KEY=your_api_key_here

# MinIO
MINIO_ACCESS_KEY=minio_user
MINIO_SECRET_KEY=minio_password
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_BUCKET_URL=s3://currency-raw

# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_HOST=postgres

# Airflow Web UI User
_AIRFLOW_WWW_USER_USERNAME=your_username
_AIRFLOW_WWW_USER_PASSWORD=your_password

# Airflow API Authentication
AIRFLOW__API_AUTH__JWT_SECRET=your_long_random_secret_here
AIRFLOW__API__SECRET_KEY=your_other_long_random_secret_here